<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Undergoing maintenance</h1>

    <p>The site is currently undergoing maintenance.  We will be back ASAP.</p>

  </body>
</html>
